body {
    background-color: rgb(255, 231, 179);
}

nav {
    height: 66px;
}

.navbar {
    background-color: rgb(251, 26, 26);
}

li a {
    color: black !important;
    font-size: 20px;
}

li a:hover {
    color: rgb(4, 4, 2) !important;
    background-color: rgb(255, 255, 185);
}

.navbar-toggler {
    background-color: rgb(252, 153, 59);
}

.nav-link {
    padding: 20px;
}

.btn {
    border: none;
    background-color: rgb(15, 223, 185);
}

.container {
    background-color: rgb(255, 231, 179);
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0.8;
}

h1 {
    text-align: center;
    color: blue;
    padding: 10px;
}

label {
    font-size: 15px;
}

.text {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pagination {
    color: rgb(17, 13, 128);
    justify-content: center;
    align-items: center;
}

@media(max-width:600px) {
    nav {
        height: auto;
    }
    nav-link {
        padding: 10px;
    }
}