body {
    background-color: rgb(229, 228, 255);
}

nav {
    height: 65px;
}

.navbar {
    background-color: rgb(223, 61, 220);
}

li a {
    color: black !important;
    font-size: 20px;
}

li a:hover {
    color: rgb(13, 186, 239) !important;
    background-color: rgb(190, 254, 255);
}

.navbar-toggler {
    background-color: rgb(247, 206, 206);
}

.nav-link {
    padding: 20px;
}

.btn {
    border: none;
    background-color: rgb(255, 50, 115);
}

.pagination {
    color: rgb(17, 13, 128);
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 228, 255);
}

h1 {
    text-align: center;
    color: rgb(27, 14, 83);
}

.text {
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media(max-width:600px) {
    nav {
        height: auto;
    }
    nav-link {
        padding: 10px;
    }
}