body {
    background-color: lightgoldenrodyellow;
}

nav {
    height: 50px;
}

.navbar {
    background-color: rgb(254, 174, 1);
}

li a {
    color: black !important;
    font-size: 20px;
}

li a:hover {
    color: rgb(208, 154, 83) !important;
    background-color: lightgoldenrodyellow;
}

.navbar-toggler {
    background-color: rgb(25, 168, 184);
}

.nav-link {
    padding: 20px;
}

@media(max-width:600px) {
    nav {
        height: auto;
    }
    nav-link {
        padding: 10px;
    }
}